* {
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url(Images/pulz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: auto;

}

.music {
    text-align: center;
    position: relative;
    top: 75vh;
}

.love {
    text-align: center;
    margin-top: 20px;
}

.baba {
    border-radius: 20px;
    background-color: red;
    border: 5px solid #800000;
    color: white;
    font-size: 85px;
    padding: 5px;
}

@media (max-width: 400px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    main {
        background-image: url(Images/pulz.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: auto;
        overflow: auto;
    }

    .baba {
        border-radius: 20px;
        background-color: red;
        border: 5px solid #800000;
        color: white;
        font-size: 30px;
        width: auto;
        padding: 5px;
    }

}