h1 {
    text-transform: uppercase;
    text-align: center;
    /* here its just a single text so no need of flex */
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    border-radius: 20px;
    border: 2px solid aqua;
    background-color: blueviolet;
    color: whitesmoke;
}

.images {
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}

img {
    margin-right: 30px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}

@media (max-width: 400px) {

    .images {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 50px;
        border-radius: 20px;
        border: 2px solid black;
        box-shadow: 5px 5px 5px grey;
    }
}