h1 {
    text-transform: uppercase;
    text-align: center;
    /* here its just a single text so no need of flex */
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    border-radius: 20px;
    border: 2px solid aqua;
    background-color: blueviolet;
    color: whitesmoke;
}

.images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
}

img {

    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}

@media (max-width: 400px) {

    .images {
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    img {
        border-radius: 20px;
        border: 2px solid black;
        box-shadow: 5px 5px 5px grey;
    }
}